/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap';

$font-family-base: "Open Sans" !default;
$font-family-code: "Source Code Pro" !default;
$headings-font-family: "Atkinson Hyperlegible" !default;

/*-- scss:rules --*/

.sidebar-title {
  color: #008080;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, h2, h3, h4, h5 {
  line-height: 1.3;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Printing ------------------------------------------------ */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}

/* Call out boxes */

/* your turn */
.yourturn {
  background-color: #A4C9C9;   /* colback */
  border: 2px solid #008080;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.yourturn::before {
  content: "Your Turn";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #004D4D;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}

/* analysis in practice*/
.analysis_in_practice {
  background-color: #ADD8E6;   /* colback */
  border: 2px solid #000080;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.analysis_in_practice::before {
  content: "Analysis in Practice";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #000080;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}

/* new terms*/
.terms {
  background-color: #D8BFD8;   /* colback */
  border: 2px solid #663399;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.terms::before {
  content: "Terminology";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #581845;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}

/* analysis objective */

.objective {
  background-color: #E6B7B7;   /* colback */
  border: 2px solid #DC143C;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.objective::before {
  content: "Analysis Objective";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #DC143C;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}

/* Math rules / details */

.math_rules {
  background-color: #D8BFD8;   /* colback */
  border: 2px solid #663399;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.math_rules::before {
  content: "Math details";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #581845;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}

/* Results for appendix */

.results {
  background-color: #9FB8A0;   /* colback */
  border: 2px solid #4A6F5A;   /* colframe */
  border-radius: 12px;         /* arc=3mm ≈ 12px */
  padding: 8px 16px;           /* left/right=4mm ≈ 16px, top/bottom=2mm ≈ 8px */
  width: 100%;                 /* width=\textwidth */
  margin-top: 1.5em;           /* before skip */
  margin-bottom: 1.5em;        /* after skip */
  font-family: 'Open Sans', sans-serif;
}

.results::before {
  content: "Result";
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;   /* ≈ \LARGE */
  font-weight: bold;   /* \bfseries */
  color: #4A6F5A;      /* yourturnaccent */
  margin-bottom: 0.75em; /* \vspace{0.75em} */
}



/* Other formatting */

p.caption {
  color: #777;
  margin-top: 10px;
  text-align: left;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}

/* Headings */

/*

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #569BBD; 
}
h1.title {
  font-weight: 700;
}
h1 {
  border-bottom: 3px solid;
  border-top: 3px solid;
}
h2 {
  border-bottom: 3px solid #E97583;
  border-top: 3px solid #E97583;
}
h3 {
  border-top: 1px solid #D9D9D9; 
}

.welcome h1 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}

.welcome h2 {
  border-bottom: 0px solid;
  border-top: 0px solid;
}
*/


/* Fonts */

.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* moved this out of Chp 1 but not sure if it's being used anywhere */

.column-left{
  float: left;
  width: 49%;
  text-align: left;
}
.column-right{
  float: right;
  width: 49%;
  text-align: left;
}

/* authorinfo */

.authorinfo {
  padding: 0em 0em 0em 0em;
}

/* lightbox captions */

.gslide-description {
  font-size: 1.5em
}

/* restart footnote counter at each chapter */
/* https://github.com/rstudio/bookdown/issues/589#issuecomment-701044587 */
/* doesn't work for bs4_book, update when resolved */